body {
	background: no-repeat top/cover url("clouds.jpg");
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

@keyframes rainbow {
    0% {
        color: #ff0000;
    }

    14% {
        color: #ff8E00;
    }

    28% {
        color: #ffff00;
    }

    43% {
        color: #008e00;
    }

    57% {
        color: #004dff;
    }
    71% {
        color: #990fae;
    }
    86% {
        color: #ff69b4;
    }
    100% {
        color: #ff0000;
    }
}

/* animation based on a design by Evavic44 */
@keyframes dvd {
   0% {
      top: 0%;
      left: 0%;
   }

   18% {
      top: 90%;
      left: 45%;
   }

   30% {
     top: 40%;
      left: 88%;
   }

   41% {
      top: 0%;
      left: 50%;
   }

   56% {
      top: 60%;
      left: 0%;
   }

   67% {
      top: 90%;
      left: 30%;
   }

   83% {
      top: 40%;
      left: 88%;

   }

   100% {
      top: 0;
      left: 0;
   }
}

h1 {
	margin: 0px;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	font-size: 40pt;
	position: relative;
	animation: 20s linear infinite rainbow, 20s forwards linear infinite alternate-reverse dvd;
}

a {
	text-decoration: none;
}